<head>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
  <div class="footer"  >
    <div class="jumbotron" style="height: 50px; margin-bottom: 0px; background-color: rgb(27, 48, 49);"> 
      <div class="container">  
        <p style="font-family: Georgia, 'Times New Roman', Times, serif;">Student Portal &COPY; Reserved 2020 </p> 
      </div> 
    </div>
  </div>
</div>