<%-include ('partials/header')%>
 <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">  
       <title>Home</title>
       <script src="https://kit.fontawesome.com/a81368914c.js"></script>
   </head>
<h1>Home</h1>

<%=HomeInfo%>
<br><br><br><br><br><br>
<%-include ('partials/footer')%>
