<head>
	<title>Add Teacher</title>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <div class="jumbotron" style="background-image: url(Images/Wallpaper-Header-Image.jpg);">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: x-large;"> Admin Portal</p>  
        </div>
        <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">Delete Teacher Record</h2>
        <div id="content-1" class="custom-scrollbar-css p-2" style="margin-left: 10%; width: 30%;">
          <form action="/teacher_del" method="POST">
              <div class="form-group" >
                <label for="name">Teacher Id</label>
                <input type="text" class="form-control" name="tid" required/>
              </div>
              <div class="form-group" >
                <label for="name">Teacher Name</label>
                <input type="text" class="form-control" name="name" required/>
              </div>
              <div class="row">
                <div class="col-sm-5">
                    <button type="button" type="submit" class="btn btn-outline-dark" style="font-family: 'Times New Roman', Times, serif;
                    font-weight: bold; width:100%;"> Submit</button>     
              </div>
          </form>
        </div>
</body>